In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Task 1: Read CSV Files

In [4]:
df_matches= pd.read_csv("ipl/matches.csv")
df_devl = pd.read_csv("ipl/deliveries.csv")

In [2]:
##Task 2: Get top-level summary

In [6]:
df_matches.describe()
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.5+ KB

In [1]:
##Task 3: Check if column 'umpire3' is useful. If not drop it and save the dataframe to a file.

In [19]:
df_matches['umpire3'].unique()
df2=df_matches.drop('umpire3',1)
df2.head()
df2.to_csv("ipl/matches2.csv",index=False)

In [4]:
##Task 4: Print Total Number of Mataches played, Number of Seasons,

In [24]:
print(df_matches['season'].nunique())
df_matches['id'].unique()

10

636

In [ ]:
#Task 5: Players who have won the most "Player of the Match" 
## And Team which has the highest number of match wins

In [32]:
print("player who have won the most 'player of the match':",df_matches['player_of_match'].value_counts()[:10])
print("team which has the highest number of match wins:",df_matches['winner'].value_counts().idxmax())

player who have won the most 'player of the match': CH Gayle          18
YK Pathan         16
DA Warner         15
AB de Villiers    15
SK Raina          14
RG Sharma         14
MS Dhoni          13
G Gambhir         13
AM Rahane         12
MEK Hussey        12
Name: player_of_match, dtype: int64
team which has the highest number of match wins: Mumbai Indians

In [5]:
#Task 6: Find Teams which have won matches by a huge margin

In [59]:
big_margin=df_matches[(df_matches['win_by_runs']>=100) | (df_matches['win_by_wickets']>=8)]
big_margin['winner'].value_counts()

Royal Challengers Bangalore    17
Kolkata Knight Riders          16
Delhi Daredevils               13
Mumbai Indians                 12
Rajasthan Royals               12
Chennai Super Kings             9
Kings XI Punjab                 7
Sunrisers Hyderabad             5
Deccan Chargers                 2
Kochi Tuskers Kerala            2
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Name: winner, dtype: int64

In [45]:
#Task 7: Find Count of Matches Played at each city

In [60]:
print("match play at each city:", df_matches['city'].value_counts())

match play at each city: Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Ahmedabad         12
Centurion         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Ranchi             7
Cuttack            7
Port Elizabeth     7
Abu Dhabi          7
Cape Town          7
Raipur             6
Sharjah            6
Indore             5
Kochi              5
Kanpur             4
Nagpur             3
Kimberley          3
East London        3
Bloemfontein       2
Name: city, dtype: int64

In [ ]:
#Task 8: Find Min and Max win_by_wickets at each city

In [71]:
df_matches.groupby(['city']).agg([ 'min', 'max'])['win_by_wickets']

                min  max
city
Abu Dhabi         0    6
Ahmedabad         0    9
Bangalore         0   10
Bloemfontein      0    6
Cape Town         0   10
Centurion         0    8
Chandigarh        0   10
Chennai           0    9
Cuttack           0    9
Delhi             0   10
Dharamsala        0    6
Durban            0    9
East London       0    7
Hyderabad         0    9
Indore            6    8
Jaipur            0   10
Johannesburg      0    9
Kanpur            2    8
Kimberley         0    7
Kochi             0    7
Kolkata           0    9
Mumbai            0   10
Nagpur            0    6
Port Elizabeth    0    7
Pune              0    9
Raipur            0    7
Rajkot            0   10
Ranchi            0    6
Sharjah           0    8
Visakhapatnam     0    7

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bangalore', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah', nan],
      dtype=object)

In [ ]:
#Task 9: Find the match with biggest defeat by runs,

In [75]:
df_matches.iloc[[df_matches['win_by_runs'].idxmax()]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN

id                               44
season                         2017
city                          Delhi
date                     2017-05-06
team1                Mumbai Indians
team2              Delhi Daredevils
toss_winner        Delhi Daredevils
toss_decision                 field
result                       normal
dl_applied                        0
winner               Mumbai Indians
win_by_runs                     146
win_by_wickets                    0
player_of_match         LMP Simmons
venue              Feroz Shah Kotla
umpire1                 Nitin Menon
umpire2                   CK Nandan
umpire3                         NaN
Name: 43, dtype: object

In [6]:
#Task 10: Find the match with biggest defeat by wickets

In [76]:
df_matches.iloc[[df_matches['win_by_wickets'].idxmax()]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN