In [61]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [62]:
toys_df = pd.read_csv("toy_dataset.csv",index_col = 0)
toys_df.head()

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [63]:
def standarzise(row):
    return (row-row.mean())/(row.max()-row.min())
toys_df = toys_df.apply(standarzise).fillna(0)
toys_df.head()

        action1   action2  action3  romantic1  romantic2  romantic3
user 1   0.3125  0.555556    0.375      0.000  -0.333333  -0.666667
user 2   0.5625 -0.111111    0.375     -0.625  -0.333333   0.000000
user 3  -0.4375  0.000000    0.000      0.375   0.666667   0.333333
user 4   0.0000 -0.444444   -0.625      0.375   0.000000   0.000000
user 5  -0.4375  0.000000   -0.125     -0.125   0.000000   0.333333

In [64]:
item_similarity = cosine_similarity(toys_df.T)
item_similarity_df = pd.DataFrame(item_similarity,index=toys_df.columns, columns = toys_df.columns )
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.172854  0.517195  -0.622745  -0.800327  -0.685994
action2    0.172854  1.000000  0.744387  -0.162835  -0.251976  -0.629941
action3    0.517195  0.744387  1.000000  -0.659091  -0.369274  -0.430820
romantic1 -0.622745 -0.162835 -0.659091   1.000000   0.677003   0.123091
romantic2 -0.800327 -0.251976 -0.369274   0.677003   1.000000   0.666667
romantic3 -0.685994 -0.629941 -0.430820   0.123091   0.666667   1.000000

In [65]:
def recommandation_movie(movie,rating):
    similarity = item_similarity_df[movie]*(rating-2.5)
    return similarity.sort_values(ascending=False)

recommandation_movie("action1",2)

romantic2    0.400163
romantic3    0.342997
romantic1    0.311373
action2     -0.086427
action3     -0.258598
action1     -0.500000
Name: action1, dtype: float64

In [66]:
action_lover = [('action1',5),('action2',4),('romantic3',1)]

action_lover_df=pd.DataFrame()

for movie,rating in action_lover:
    action_lover_df=action_lover_df.append(recommandation_movie(movie,rating),ignore_index=True)
      
action_lover_df.sum().sort_values(ascending=False)

action1      3.788273
action3      3.055800
action2      2.877047
romantic1   -1.985753
romantic2   -3.378781
romantic3   -4.159897
dtype: float64